*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;

}
.form-container{
    margin: 5px auto;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px grey;
   
}
.form-group{
    margin-bottom: 5px;
}
label{
display: block;
margin-bottom: 10px;
font-weight: bold;
}
input{
    width: 100%;
    padding: 5%;
    margin-top: 8px;
}
.error-message{
    color: red;
    margin-top: 5px;
}
button{
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
button:hover{
    background-color: skyblue;
    transform: scale(1.2);
}